.math-container {
  display: block;
  width: 100%;
  background-color: green;
  height: 300px;
  margin-top: 30px;
}

.math-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px solid black;
}

.math-block {
  display: block;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgrey;
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  font-size: 30px;
}

.math-block-op {
  display: block;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: grey;
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  font-size: 30px;
}

.math-asnwer-opt {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 10px;
  background-color: lightgreen;
  overflow-y: hidden;
  overflow-x: auto;
}

.math-block-answer{
    display: block;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
    border-radius: 20px;
    text-align: center;
    padding: 30px 20px;
    font-size: 30px;
}
