.puzzle_cont {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.puzzle_board {
  display: block;
  border: 3px solid green;
  width: fit-content;
  height: fit-content;
  background-color: green;
  padding: 0;
  margin: auto;
}

.puzzle-peices {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 0px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}

.puzzle-peices .puzzle-peice {
  display: block;
  border: 2px solid #000000;
  width: auto;
  transition: all 0.2s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}

.puzzle-peices .puzzle-peice:hover {
  cursor: pointer;
  scale: 1.1;
  z-index: 1000;
}

/* scoreBoard */
.score-board {
  display: block;
  position: absolute;
  top: 27%;
  left: 0;
  /* transform: translate(-50%, -30%); */
  width: 70px;
  height: 60px;
  color: green;
  background-color: grey;
  padding: 0;
  border-radius: 0 20px 20px 0;
  box-shadow: 3px 4px 4px green;
  overflow: hidden;
}
.score-btn {
  display: block;
  position: relative;
  width: 70px;
  height: 60px;
  border: none;
  border-bottom: 4px solid green;
  border-radius: 0 20px 20px 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 10px 5px;
  transition: all 0.5s ease;
}

.score-btn:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

/* when scoreboard  btn is hovered the scoreboard shoud increase its with */
.score-board:hover,
.score-board:focus-within {
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease;
  border-radius: 0 20px 0px 0;
  box-shadow: 0px 0px 24px green;
  overflow: hidden;
}

.score-board:hover > .score-btn {
  width: 100%;
  border-radius: 0 20px 0 0;
  margin-bottom: 10px;
  background: linear-gradient(to right, green 35%, black, green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.score-board .close-btn {
  float: right;
  background-color: rgb(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 18px;
}

.score-board .close-btn:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.score-board .close-btn:focus {
  background-color: white;
  color: red;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.scores {
  display: table;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  margin: auto;
  padding: 0;
  text-align: center;
  table-layout: auto;
  background-color: grey;
}

.scores caption {
  display: table-caption;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to right, green 35%, black, green);
  width: 100%;
  margin: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.scores thead tr {
  display: table-row;
  background-color: green;
  width: fit-content;
  color: white;
  font-weight: bold;
  outline: 1px solid black;
  margin: 0;
}

.scores thead tr th {
  display: table-cell;
  padding: 5px 10px;
}

.scores tbody tr {
  display: table-row;
  width: fit-content;
  outline: 1px solid green;
  outline-offset: 0;
  font-weight: normal;
  color: rgb(254, 254, 254);
}

.scores tbody tr:nth-child(odd) {
  background-color: rgb(150, 150, 150);
}

.scores tbody tr td {
  display: table-cell;
  width: fit-content;
  text-wrap: nowrap;
  padding: 5px 10px;
}
