* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://wallpapercave.com/wp/wp4034594.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-nav {
  background-color: green;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  list-style: none;
  height: 70px;
  overflow: hidden;
}

.main-nav ul li {
  list-style: none;
  vertical-align: middle;
}

.nav-image {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: -83px;
}

.main-footer {
  display: flex;
  justify-content: center;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 10px 0;
  flex-wrap: wrap;
  border-top: 3px solid yellowgreen;
  border-radius: 20px 20px 0 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 50px 20px 100px 20px;
  width: fit-content;
  min-width: 400px;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  background-color: rgba(0, 128, 0, 0.63);
}

.main-container .left-side {
  display: block;
  width: fit-content;
  height: 100%;
  /* margin: ; */
}

.main-container .right-side {
  display: block;
  width: fit-content;
  height: 100%;
  overflow: hidden;
}

.right-side .button-opts {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px;
  justify-content: center;
}

.right-side .button-opts .right-side-opt {
  display: block;
  background-color: lightgrey;
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px black;
  font-size: 30px;
  font-weight: bold;
}

.right-side .button-opts .right-side-opt:hover {
  cursor: pointer;
  background-color: green;
  border: 2px solid yellow;
  color: white;
  scale: 1.1;
  transition: all 0.2s ease;
  z-index: 100;
}

.right-side .button-opt-heading {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-bottom: 2px solid green;
}

/* create media query */
@media (max-width: 700px) {
  .right-side .button-opts .right-side-opt {
    display: inline-block;
    margin: 10px 5px;
  }

  .main-footer {
    position: static !important;
    width: 100vw !important;
  }

  .button-opts {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    margin: auto !important;
  }

  .main-container {
    max-width: 100vw !important;
    width: 100vw !important;
    margin-bottom: 100px !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 550px) {
  .puzzle_board {
    scale: 0.7;
    background-color: green;
    padding: 0px !important;
    margin: auto !important;
    width: fit-content !important;
    position: relative !important;
    height: fit-content !important;
  }

  .left-side {
    display: block !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  .puzzle_cont {
    background-color: black;
    width: 100vw !important;
    height: fit-content !important;
    padding: 20px 0 0 0 !important;
    margin: 0 !important;
    display: flex !important;
    color: white;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-container {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
    max-width: 100vw !important;
    overflow: hidden !important;
  }

  body {
    width: 100vw !important;
    height: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  main {
    display: block;
    margin: 0 !important;
    width: 100vw !important;
    padding: 0 !important;
  }

  .right-side {
    display: block !important;
    width: 100vw !important;
    margin: 20px 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  .button-opt-heading {
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .button-opts button {
    width: 180px !important;
    border: 2px solid green;
  }

  .main-nav {
    width: 100% !important;
  }

  .main-footer {
    width: 100% !important;
  }

  .footer-text-p {
    font-size: 15px;
  }
}

.winPopUp {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: green;
  width: fit-content;
  max-width: 80vw !important;
  height: fit-content;
  /* max-height: 80%; */
  z-index: 1000;
  border-radius: 30px;
  box-shadow: 2px 3px 4px black;
  border: 2px solid yellowgreen;
  top: 90px;
}

.winPopUp button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: yellowgreen;
  border: 2px solid yellowgreen;
  box-shadow: 5px 5px px black;
  margin-top: 50px;
  width: 80px;
  height: 50px;
  color: black;
  font-weight: bold;
}

.winPopUp button:hover {
  cursor: pointer;
  background-color: green;
  scale: 1.3;
  color: white;
  transition: all 0.2s ease;
}

.winPopUp h1 {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: yellowgreen;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid yellowgreen;
}

.winPopUp p {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
}

.message {
  display: inline-block;
  border: 2px solid yellow;
  border-radius: 10px;
  width: 80%;
  height: fit-content;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 10%,
    darkgreen 80%,
    yellowgreen
  );
  padding: 30px;
}

.win-image {
  display: inline-block;
  width: 40%;
  aspect-ratio: 1/1;
  margin-left: 20px;
  background-color: black;
}

.allscore {
  display: block;
  position: relative;
  border: 3px solid yellow;
  width: fit-content;
  margin-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  color: green;
  padding: 5px 10px;
  box-shadow: 4px 4px 4px yellowgreen;
}

.footer-images {
  height: 70px;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-image {
  width: auto;
  /* max-width: 200px; */
  height: 60px;
  border-radius: 10px;
  box-shadow: black 2px 2px 2px;
  margin: 10px 0;
  display: block;
}

.footer-text {
  color: white;
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
}

/* Animate body background image using keyframe */
@keyframes animateBody {
  0% {
    background-position: 100% 100%;
  }

  15% {
    background-position: 50% 99%;
  }

  25% {
    background-position: 50% 98%;
  }

  35% {
    background-position: 100% 97%;
  }

  50% {
    background-position: 100% 96%;
  }

  65% {
    background-position: 50% 97%;
  }
  75% {
    background-position: 50% 98%;
  }

  85% {
    background-position: 100% 99%;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* Animate body background image using keyframe */
body {
  animation: animateBody 2s infinite;
}
